{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block nav_enabled1 %}disabled{% endblock %}
{% block nav_enabled2 %}disabled{% endblock %}
{% block nav_enabled3 %}disabled{% endblock %}
{% block nav_enabled4 %}disabled{% endblock %}

{% block content %}
<h5>Welcome!</h5>
<form method="POST" action="/streetfighter/">
    <input type="text" name="player_id" placeholder="Enter Player ID" required>
    <button type="submit">Submit</button>
</form>
<div class="col-lg-7" style="border: 1px solid #ccc; border-radius: 8px; padding: 15px; margin-top: 20px; background-color: #f9f9f9;">
<p>
    <br>Hi, welcome to my Street Fighter 6 Stats site! Right now things are still under construction, but most of the main features should be working at the moment.
    <br>As of right now, there is no name search, so you would have to enter your user ID that can be found in game or on the official Capcom site.
    <br>The site is still a work in progress so expect things to either be slow or crash often. If you are scanning a new user, expect it to take up to a minute.
</p>
<p>
    If you don't have an account and would like to just see the site, feel free to use some of the following example IDs:
    <ul>
        <li>
            1711733433
        </li>
        <li>
            3818139096
        </li>
        <li>
            3860104471
        </li>
    </ul>
  </p>
</div>

<div class="col-lg-7" style="border: 1px solid #ccc; border-radius: 8px; padding: 15px; margin-top: 20px; background-color: #f9f9f9;">
<p>
    Planned Features:
    <ul>
        <li>
            Username search instead of needing an ID
        </li>
        <li>
            Opponents page that showcases your stats against each player fought
        </li>
        <li>
            MR gains and loss statistics against every character/player
        </li>
        <li>
            Better site performance and presentation
        </li>
    </ul>
</p>
</div>
{% endblock %}